* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.znaki {
	display: grid;
    grid-template-columns: repeat(3, auto);
	gap: 44px;
	align-items: center;
	justify-items: center;
}

.znak {
	width: 200px;
	height: 200px;
	display: grid;
	place-items: center;
	font-weight: 800;
	color: #fff;
}

.znak-slepa {
	background: #2b265f;
	border: 1px solid #000000;
	border-radius: 12px;
	position: relative;
}

.slepa-znak {
	width: 34px;
	height: 118px;
	background: #ffffff;
	position: relative;
	border-radius: 6px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slepa-znak::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 112px;
	height: 25px;
	background: #d11a2a;
	border-radius: 4px;
}

.znak-stop {
    position: relative;
    width: 200px;
    height: 200px;
}
.stop-text{
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    z-index: 2;
}
.stop,
.stop-pion,
.stop-prawo,
.stop-lewo{
    width: 200px;
    height: 84px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    background-color: rgb(235, 11, 11);
}
.stop{
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%);
}
.stop-pion{
    border-left: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%) rotate(90deg);
}
.stop-prawo{
    border-left: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%) rotate(45deg);
}
.stop-lewo{
    border-left: 5px solid rgb(255, 255, 255);
    border-right: 5px solid rgb(255, 255, 255);
    transform: translate(-50%, -50%) rotate(135deg);
}

.znak-zakazu {
	background: #d11a2a;
	border: 12px solid #ffffff;
	border-radius: 50%;
	position: relative;
}

.znak-zakazu .zakaz-pasek {
	width: 120px;
	height: 28px;
	background: #ffffff;
	border-radius: 6px;
}
