body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    max-width: 80vh;
    margin: auto;
}

.image-container {
    text-align: center;
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.anchor {
    padding: 0.8vh 1.5vh;
    background-color: #007bff00;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 1vh;
}

.anchor:hover {
    background-color: #0000000c;
    box-shadow: 0.2vh 0.2vh 0.5vh rgba(0, 0, 0, 0.2);
}

.image-caption {
    font-style: italic;
    font-size: 0.75rem;
    color: #555;
    margin-top: 0.5vh;
}